
  <form class="form login-form" action="/" method="POST">
    Login
    <label for="player1">Player 1 Name</label>
    <input id="player1" type="text" name="player1"> 
    <label for="player2">Player 2 Name</label>
    <input id="player2" type="text" name="player2"> 
    <input class="create-button" type="submit" value="Login">
  </form>
