
  <h2>Winner</h2>
  <div>
    <a href="/"><button class="button" id="reset">New Game</button>button></a>
  </div>
  <div>
    <form action ="/restart/<%= @player1.id %>/<%= @player2.id%>" method="POST">
    <input type="submit" id="rematch_btn" value="new-game">
    </form>
  </div>  

