<h3>Allen?'s' and Ryan?'s super fun and original racing game![sic]'</h3>
<div id="login-create-partial">
  <%= erb :_login_register %>
</div>

<div id="game-results">
  <% if @player1 %>
  <%= erb :_results %>
  <% end %>
</div>

<div id="game-board">
  <% if @player1 %>
  <%=erb :_game %>
  <% end %>
</div>

<div id="view-games">
  <% if @player1 %>
  <%= erb :_view_games.erb %>
  <% end %>
</div>




